@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Josefin+Sans&family=Lilita+One&family=Noto+Sans&family=Open+Sans:wght@500&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

span {
  color: #00ADB5;
}

img {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}

.container {
  width: 1440px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: #222831;
}
.container .section1 {
  padding: 0px 95px;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/section1-back.png");
  background-repeat: no-repeat;
}
.container .section1 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0px;
}
.container .section1 header ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.container .section1 header ul .menu {
  display: none;
}
.container .section1 header ul a {
  font-size: 18px;
  color: #EEEEEE;
  transition: all 0.2s ease;
  position: relative;
}
.container .section1 header ul a:hover {
  color: #00ADB5;
}
.container .section1 header ul a:hover::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1.5px;
  background-color: #00ADB5;
  top: 27px;
  left: 0px;
}
.container .section1 .main {
  padding: 110px 0px;
  display: flex;
  justify-content: space-between;
}
.container .section1 .main .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .section1 .main .left .inline_main {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.container .section1 .main .left .inline_main h1 {
  width: 600px;
  font-size: 96px;
  line-height: 96px;
  color: #EEE;
}
.container .section1 .main .left .bottom {
  display: flex;
  gap: 30px;
  align-items: center;
}
.container .section1 .main .left .bottom .insta_link {
  padding: 10px 15px;
  border-radius: 24px;
  background-color: #00ADB5;
  display: flex;
  gap: 9px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  color: white;
  transition: all 0.2s ease;
}
.container .section1 .main .left .bottom .insta_link:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 5px 0px #00ADB5;
}
.container .section1 .main .left .bottom .telegr_link {
  padding: 10px 15px;
  border-radius: 24px;
  background-color: #EEE;
  display: flex;
  gap: 9px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  color: #00ADB5;
  transition: all 0.2s ease;
}
.container .section1 .main .left .bottom .telegr_link:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 5px 0px #00ADB5;
}
.container .section1 .main .right {
  display: flex;
  align-items: end;
}
.container .section2 {
  padding: 250px 95px;
  display: flex;
  justify-content: space-between;
  background-image: url("../assets/images/section2-back.png");
  background-repeat: no-repeat;
}
.container .section2 .left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container .section2 .left h1 {
  font-size: 64px;
  font-weight: 700;
  color: #EEE;
}
.container .section2 .left p {
  width: 389px;
  color: rgba(238, 238, 238, 0.75);
  letter-spacing: 1px;
  line-height: 25px;
}
.container .section3 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-image: url("../assets/images/section3-back.png");
  padding: 260px 95px;
}
.container .section3 h1 {
  font-size: 64px;
  font-weight: 700;
  color: #EEE;
}
.container .section3 .main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container .section3 .main img {
  width: 100%;
}
.container .section3 .main .item {
  width: 368px;
  height: 280px;
  padding: 60px;
  border-radius: 16px;
  background: rgba(57, 62, 70, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
}
.container .section3 .main .item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 5px 0px #00ADB5;
}
.container .section3 .main .row {
  display: flex;
  justify-content: space-between;
}
.container .section3 .main .none_row {
  display: none;
}
.container .section3 .main .none_row_m {
  display: none;
}
.container .section3 .main .open_btn {
  display: flex;
}
.container .section3 .see_btn {
  padding: 15px 40px;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.container .section3 .see_btn .deg {
  transform: rotate(180deg);
}
.container .section3 .see_btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 5px 0px #00ADB5;
}
.container .section3 .see_btn p {
  color: #FFF;
  font-size: 20px;
}
.container .section4 {
  padding: 230px 95px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  background-image: url("../assets/images/section4-back.png");
  background-position: right;
}
.container .section4 h1 {
  font-size: 64px;
  font-weight: 700;
  color: #EEE;
}
.container .section4 .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section4 .main .item_box {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.container .section4 .main .item_box .items {
  padding: 10px 20px;
  background-color: #EEEEEE;
  display: flex;
  width: 420px;
  align-items: center;
  border-radius: 50px;
  justify-content: space-between;
  transition: all 150ms ease-in;
}
.container .section4 .main .item_box .items:hover {
  transform: translateX(-5px);
}
.container .section4 .main .item_box .items p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.container .section4 .main .item_box .items .right {
  display: flex;
  gap: 5px;
}
.container .section4 .main .item_box .items .right h3 {
  font-size: 18px;
  color: #00ADB5;
}
.container footer {
  padding: 35px 95px;
  border-top: 1px solid rgba(238, 238, 238, 0.2078431373);
  display: flex;
  align-items: center;
  display: flex;
  gap: 100px;
  flex-direction: column;
}
.container footer .box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.container footer .box ul {
  padding-top: 35px;
  display: flex;
  gap: 50px;
}
.container footer .box ul a {
  display: flex;
  gap: 10px;
  color: #EEEEEE;
  font-size: 18px;
  transition: all 0.2s ease;
  position: relative;
}
.container footer .box ul a:hover {
  color: #00ADB5;
}
.container footer .box ul a:hover::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1.5px;
  background-color: #00ADB5;
  top: 27px;
  left: 35px;
}
.container footer .box .social_media {
  display: flex;
  gap: 24px;
}
.container footer .box .social_media a {
  padding: 12px;
  background-color: #393E46;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.container footer .box .social_media a:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 5px 0px #00ADB5;
}
.container footer .copied {
  color: rgba(238, 238, 238, 0.6392156863);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

@media (max-width: 1445px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1350px) {
  .container {
    width: 100%;
  }
  .container .section1 .main .right img {
    width: 100%;
  }
  .container .section4 .main {
    justify-content: start;
  }
  .container .section4 .main .item_box .items {
    width: 100%;
    gap: 5px;
  }
  .container .section4 .main .item_box .items h3 {
    display: none;
  }
  .container .section3 .main .row .item {
    width: 288px;
    height: 200px;
  }
}
@media (max-width: 1240px) {
  .container {
    width: 100%;
  }
  .container .section1 .main {
    background-image: url("../assets/images/section1-main1.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  .container .section1 .main .left .inline_main h1 {
    font-size: 70px;
  }
  .container .section1 .main .right img {
    display: none;
  }
}
@media (max-width: 1270px) {
  .container {
    width: 100%;
  }
  .container .section2 .right img {
    width: 100%;
  }
  .container .section4 .main .image {
    width: 100%;
  }
}
@media (max-width: 1210px) {
  .container {
    width: 100%;
  }
  .container .section4 .main .image {
    width: 80%;
  }
}
@media (max-width: 1140px) {
  .container {
    width: 650px;
  }
  .container .section1 {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container .section1 header {
    gap: 50px;
  }
  .container .section1 header ul {
    display: none;
  }
  .container .section1 .main {
    background-image: none;
  }
  .container .section1 .main .left .inline_main h1 {
    font-size: 60px;
    line-height: 130%;
    width: 356px;
  }
  .container .section2 {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container .section2 .left h1 {
    line-height: 130%;
  }
  .container .section2 .right img {
    display: none;
  }
  .container .section3 {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container .section3 h1 {
    line-height: 130%;
  }
  .container .section3 .main .row {
    flex-direction: column;
    gap: 30px;
  }
  .container .section4 {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container .section4 h1 {
    line-height: 130%;
  }
  .container .section4 .main .image {
    display: none;
  }
  .container footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container footer ul {
    flex-direction: column;
  }
}
@media (max-width: 770px) {
  .section1 .left .s1_img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */